{% extends "base-page.html" %}

{% block title %}
    Add dictionary
{% endblock %}

{% block content %}
    <form action="{{ url_for('dictionaries') }}" method="post">
        <input type="text" name="name" class="" placeholder="Dictionary name" required pattern="^[a-zA-Z\s]+$">
        <input type="text" name="description" class="" placeholder="Dictionary description" required pattern="^[А-Яа-яЁё\s]+$">
        <input type="submit" name="addDict" value="Create dictionary">
    </form>
{% endblock %}