{% extends "base-page.html" %}

{% block title %}
    Add word
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% if form.dictionary.choices %}
            {{ form.csrf_token }}
            {{ form.original(autofocus=True) }}
            {{ form.translate() }}
            {{ form.transcription() }}
            {{ form.replace.label }}
            {{ form.replace() }}
            {{ form.dictionary() }}
            {{ form.addWord() }}
        {% else %}
            <span>Please, for adding words create a </span>
            <a href="{{ url_for('addDictionary') }}">
                dictionary.
            </a>
        {% endif %}
    </form>

    {{ macros.flashed_messages() }}
{% endblock %}