{% extends "base-page.html" %}

{% block title %}
    Dictionaries
{% endblock %}

{% block app_content %}
    <h2 class="small-glyphicons">
        My
        <small>
            Dictionaries
            <a class="glyphicon glyphicon-plus-sign" href="{{ url_for('addDictionary') }}" title="Add dictionary"></a>
        </small>
    </h2>
    {{ super() }}

    <div class="row">
        {% for dict in dicts %}
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {# <p class="panel-title"> #}
                            <a class="panel-title" href="{{ url_for('viewDictionary', name=dict[0]) }}">{{ dict[0] }}</a>
                        {# </p> #}
                    </div>
                    <div class="panel-body">
                        <p>{{ dict[1] }}</p>
                        <p>Words: {{ dict[2] }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12">
                <p>
                    You have no dictionary.
                    <a href="{{ url_for('addDictionary') }}">
                        Create it
                    </a>
                </p>
            </div>
        {% endfor %}

    {# link for new dict #}
        {# <div class="col-sm-3 ">
            <div class="text-center">
                <a class="text-v-center glyphicon glyphicon-plus-sign" href="{{ url_for('addDictionary') }}" title="Add dictionary"></a>
            </div>
        </div> #}
    </div>

{% endblock %}