{% extends "base-page.html" %}

{% block title %}
    Dictionaries
{% endblock %}

{% block content %}
    {# context:
        dicts: list of dicts names
        words: list of words of current dict
        viewDict: touple of current dict
        forms: dict of available forms
     #}

    {# dictionary list
        dict[0] - name
        dict[1] - description
    #}

    {{ macros.flashed_messages() }}

    {% for dict in dicts %}
        <div>
            <a href="{{ url_for('dictionaries', view=dict[0]) }}">{{ dict[0] }}</a>
            <span>{{ dict[1] }}</span>
        </div>
    {% endfor %}

    {# link for new dict #}
    <a href="{{ url_for('addDictionary') }}">Add dictionary</a>

    {# form for change dict #}
    {% if viewDict %}
        <div>
            <form action="{{ url_for('changeDictionary') }}" method="post">
                {{ forms['changeDict'].csrf_token }}
                {{ forms['changeDict'].name(value=viewDict[0]) }}
                {{ forms['changeDict'].description(value=viewDict[1]) }}
                {{ forms['changeDict'].changeDict() }}
                {{ forms['changeDict'].old(value=viewDict[0]) }}
            </form>
        </div>
    {% endif %}

    {# words list
        word[0] - original
        word[1] - translate
        word[2] - transcription
    #}
    {% if words %}
        {% for word in words %}
            <form action="{{ url_for('changeWord') }}" method="post">
                {{ forms['changeWord'].csrf_token }}
                {{ forms['changeWord'].original(value=word[0]) }}
                <span>[
                {{ forms['changeWord'].transcription(value=word[2]) }}
                ]</span>
                <span>-</span>
                {{ forms['changeWord'].translate(value=word[1]) }}
                {{ forms['changeWord'].old(value=word[0]) }}
                {{ forms['changeWord'].dictionary(value=viewDict[0]) }}
                {{ forms['changeWord'].changeWord() }}
            </form>

            <form action="{{ url_for('deleteWord') }}" method="post">
                {{ forms['deleteWord'].csrf_token }}
                {{ forms['deleteWord'].deleteWord() }}
                {{ forms['deleteWord'].original(value=word[0]) }}
                {{ forms['deleteWord'].dictionary(value=viewDict[0]) }}
            </form>
        {% endfor %}
    {% endif %}

    {# add word #}
    {% if viewDict %}
        <form action="{{ url_for('addWordWrapper') }}" method="post">
            {{ forms['addWord'].csrf_token }}
            {{ forms['addWord'].original() }}
            {{ forms['addWord'].translate() }}
            {{ forms['addWord'].transcription() }}
            {{ forms['addWord'].replace.label }}
            {{ forms['addWord'].replace() }}
            {{ forms['addWord'].dictionary(value=viewDict[0]) }}
            {{ forms['addWord'].addWord() }}
        </form>
    {% endif %}

    {# delete dict #}
    {% if viewDict %}
        <form action="{{ url_for('deleteDictionary') }}" method="post">
            {{ forms['deleteDict'].csrf_token }}
            {{ forms['deleteDict'].name(value=viewDict[0]) }}
            {{ forms['deleteDict'].deleteDict() }}
        </form>
    {% endif %}

{% endblock %}