{% extends "base-page.html" %}
{% import 'macros.j2' as macros %}


{% block title %}
    Finish test
{% endblock %}

{% block app_content %}
    <h2>
        Test finished with {{ result['correct'] }}
        <small>
            of {{ result['total'] }}
        </small>
    </h2>
    {{ super() }}
    {% if result['mistakes'] %}
       <h3>My mistakes:</h3>
       <blockquote>
            {% for mistake in result['mistakes'] %}
                <p>
                    {{ mistake['question']|capitalize }} — 
                    incorrect: <span class="text-danger">{{ mistake['wrong']|capitalize }}</span>,
                    incorrect: <span class="text-danger">{{ mistake['wrong'] }}</span>,
                    correct: <span class="text-success">{{ mistake['right']|capitalize }}</span>
                    correct: <span class="text-success">{{ mistake['right'] }}</span>
                </p>
            {% endfor %}
       </blockquote>
    {% endif %}

    <form class="form-inline" action="{{ url_for('startTest') }}?do=mistakes" method="post">
        {% if form %}
            {{ macros.renderForm(form) }}
        {% endif %}
    </form>
{% endblock %}