<footer class="footer">
    <div class="container">
        <row class="text-center">
            <div>
                <img class="logo" src="{{ url_for('.static', filename='images/logo-1.png') }}" alt="">
            </div>
            <div>
                <h4>
                    Smart Dictionary
                </h4>
            </div>
            <div>
                <h5>
                    <a href="https://github.com/vikk777/Smart-Dictionary">©oded and designed</a>
                    by vikk777 &amp; Sherifffox
                </h5>
            </div>
            {# <div class="col-sm-4"></div> #}
        </row>
    </div>
</footer>