<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Smart Dictinary{% endblock %}</title>
</head>
<body>
<nav>
    {% if current_user.is_authenticated %}
        <p>Hello, {{ current_user.name }}</p>
        <a href="{{ url_for('addWord') }}">Add word</a>
        <a href="{{ url_for('dictionaries') }}">Dictionaries</a>
        <a href="{{ url_for('startTest') }}">Test</a>
        <a href="{{ url_for('importWords') }}">Import</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
</nav>