{% extends "base-page.html" %}
{% import 'macros.j2' as macros %}


{% block title %}
    Import words
{% endblock %}

{% block page_header %}
    {# <div class="row"> #}
        {# <div class="col-sm-8 col-sm-offset-2"> #}
            
        {# </div> #}
    {# </div> #}
{% endblock %}

{% block app_content %}
    <h2>
        Import words
        <small>
            by the template
        </small>
    </h2>
    {{ super() }}
    {% if form.dictionary.choices %}
        <form action="" method="post">
            {{ form.csrf_token }}
            {# <div class="row"> #}
                {# <div class="col-sm-8 col-sm-offset-2"> #}
                    {{ macros.renderField(form.words) }}
                {# </div> #}
            {# </div> #}
            <div class="row">
                <div class="col-sm-6">
                    {{ macros.renderField(form.dictionary) }}
                </div>
                <div class="col-sm-6">
                    {{ macros.renderField(form.importWords) }}
                </div>
            </div>
        </form>
        {% else %}
            <span>Please, for adding words create a </span>
            <a href="{{ url_for('addDictionary') }}">
                dictionary.
            </a>
    {% endif %}

{% endblock %}