{% import 'macros.j2' as macros %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand logo" src="{{ url_for('.static', filename='images/logo-2.png') }}" alt="">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    {# <span class="glyphicon glyphicon-book"></span> #}
                    Smart Dictionary
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li {% if active == 'word' %} class='active' {% endif %}>
                            <a href="{{ url_for('addWord') }}">Add word</a>
                        </li>
                        <li {% if active == 'dict' %} class='active' {% endif %}>
                            <a href="{{ url_for('dictionaries') }}">Dictionaries</a>
                        </li>
                        <li {% if active == 'test' %} class='active' {% endif %}>
                            <a href="{{ url_for('startTest') }}">Test</a>
                        </li>
                        <li {% if active == 'import' %} class='active' {% endif %}>
                            <a href="{{ url_for('importWords') }}">Import</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {# <li><span>{{ current_user.name }}</span></li> #}
                    </ul>
                    <form action="{{ url_for('search') }}" class="navbar-form navbar-right" method="post">
                       <div class="input-group">
                            {# {{ macros.renderField(form.word) }} #}
                            {# {{ macros.renderField(form.search) }} #}
                            <input type="text" name="word" class="form-control" accesskey="s" placeholder="Tab or Shift+Alt+S" tabindex="1">
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;
                            </button></span>
                        </div>
                        {# {{ macros.renderField(form.csrf_token) }} #}
                    </form>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if active == 'login' %} class='active' {% endif %}>
                            <a href="{{ url_for('login') }}">Sign In</a>
                        </li>
                        <li {% if active == 'register' %} class='active' {% endif %}>
                            <a href="{{ url_for('register') }}">Sign Up</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}