{% extends "base-page.html" %}

{% block title %}
    Start test
{% endblock %}

{% block content %}
    {% if forms['startTest'].dictionary.choices %}
        <form action="{# url_for('test') #}" method="post">
            {% for field in forms['startTest'] %}
                {{ field }}
            {% endfor %}
        </form>
    {% else %}
        <p>
            You have no words in your dictionaries.
            <a href="{{ url_for('addWord') }}">Add</a> them.
        </p>
    {% endif %}

    <form action="" method="post">
        {% if forms['correctMistakes'] %}
            {% for field in forms['correctMistakes'] %}
                {{ field }}
            {% endfor %}
        {% endif %}
    </form>

    {{ macros.flashed_messages() }}
{% endblock %}