{% extends "base-page.html" %}

{% block title %}
    Start test
{% endblock %}

{% block content %}
    {% if forms['startTest'].dictionary.choices %}
        <form action="{# url_for('test') #}" method="post">
            {% for field in forms['startTest'] %}
                {{ field }}
            {% endfor %}
        </form>
    {% else %}
        <p>
            You have no words in your dictionaries.
            <a href="{{ url_for('addWord') }}">Add</a> them.
        </p>
    {% endif %}

    {% if mistakes %}
        <form action="" method="post">
                {% for field in forms['correctMistakes'] %}
                    {{ field }}
                {% endfor %}
        </form>

        <p>You did mistake in this words:</p>
        {% for question, answer in mistakes.items() %}
            <p>{{question}} - {{ answer }}</p>
        {% endfor %}
    {% endif %}

    {{ macros.flashed_messages() }}
{% endblock %}