{% extends "base-page.html" %}
{% import 'macros.j2' as macros %}


{% block title %}
    Start test
{% endblock %}

{% block app_content %}
    <h2>
        Test
        <small>
            Choice the dictionary and the period
        </small>
    </h2>
    {{ super() }}
    {% if forms['startTest'].dictionary.choices %}
        <form class="form-inline" action="?do=start" method="post">
            {{ macros.renderForm(forms['startTest']) }}
        </form>
    {% else %}
        <p>
            You have no words in your dictionaries.
            <a href="{{ url_for('addWord') }}">Add</a> them.
        </p>
    {% endif %}

    {% if addedWords %}
        <h4>Added words:</h4>
        <blockquote>
            {% for question, answer in addedWords.items() %}
                <p>{{ question|capitalize }} — {{ answer|capitalize}}</p>
            {% endfor %}
        </blockquote>
    {% endif %}

    {% if mistakes %}
        <h4>My mistakes:</h4>
        <blockquote>
            {% for question, answer in mistakes.items() %}
                <p>{{ question|capitalize }} — {{ answer|capitalize}}</p>
            {% endfor %}
        </blockquote>

        <form class='form-inline' action="?do=mistakes" method="post">
            {{ macros.renderForm(forms['correctMistakes']) }}
        </form>
    {% endif %}
{% endblock %}