{% extends "base-page.html" %}

{% block title %}
    Test
{% endblock %}

{% block content %}
    {% if question.get('question') %}
        <form action="{# url_for('finishTest') #}" method="post">
            {{ form.csrf_token }}
            <p>
                {{ question.get('question') }}
                {{ form.question(value=question.get('question')) }} -
                {{ form.answer(value='') }}
            </p>
            {{ form.nextQuestion() }}
        </form>

        {% if question.get('progress') %}
            {{ question.get('progress').get('current') }}
            of
            {{ question.get('progress').get('total') }}
        {% endif %}
    {% endif %}

    {{ macros.flashed_messages() }}
{% endblock %}